---
layout: default
base_layout: pros
permalink: pros.html
---

<section id="pros">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-first col-sm-12">
        <h1>מכוני הסרת&nbsp;שיער בתל&nbsp;אביב</h1>
        <div class="table-wrapper">
          <div class="row tbl-row-header hidden-xs">
            <div class="col-sm-7 col-xs-12"><strong>שם המכון/מרפאה</strong></div>
            <div class="col-sm-5 col-xs-12"><strong>כתובת</strong></div>
          </div>
          <div class="row tbl-row">
            <div class="col-sm-6 col-xs-12">מכון יוסי הסרות בע"מ</div>
            <div class="col-sm-6 col-xs-12 tbl-col-last">
              <img class="visible-xs-inline" src="/images/homepage/find-treathment/place.png">רחוב המסיר השעיר 7, תל אביב
            </div>
          </div>
          <div class="row tbl-row">
            <div class="col-sm-6 col-xs-12">מרפאת חזי קרחת</div>
            <div class="col-sm-6 col-xs-12 tbl-col-last">
              <img class="visible-xs-inline" src="/images/homepage/find-treathment/place.png">רחוב המסיר המהיר 32, תל אביב</div>
          </div>
          <div class="row tbl-row">
            <div class="col-sm-6 col-xs-12">מכון יוסי הסרות בע"מ</div>
            <div class="col-sm-6 col-xs-12 tbl-col-last">
              <img class="visible-xs-inline" src="/images/homepage/find-treathment/place.png">רחוב המסיר השעיר 7, תל אביב</div>
          </div>
          <div class="row tbl-row">
            <div class="col-sm-6 col-xs-12">מכון יוסי הסרות בע"מ</div>
            <div class="col-sm-6 col-xs-12 tbl-col-last">
              <img class="visible-xs-inline" src="/images/homepage/find-treathment/place.png">רחוב המסיר המהיר 32, תל אביב</div>
          </div>
        </div>


        <div class="attention hidden-sm hidden-xs">
          <div class="pros-stop-content">
            <img class="pros-stop-icon" src="/images/info/stop.svg" />
            <h3>השוו ולא תתאכזבו!</h3>
            <p>הסרת שיער יכולה להיות עסק יקר. חשוב להשוות מחירים לפני שבוחרים מכון.
              באתר מדיקארט תוכלו לקבל הצעות מחיר ממכונים מובחרים, כך שאתם <strong>גם חוסכים וגם בטוחים</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-last hidden-sm hidden-xs">
        <h2>קבלו הצעות מחיר מדויקות</h2>
        <div class="sticky-form"> {% include form-vertical.html %} </div>
      </div>
    </div>
    <div class="row hidden-sm hidden-xs">
      <div class="col-xs-12 text-center">
        <img src="/images/homepage/articles/woman.png">
      </div>
    </div>
    <div class="modal" id="pros-lead-modal-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="frame clearfix {{ page.main_category }}">
        <a class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">סגור</span></a>

        <div class="first-form hidden">
          <div class="mobile-lead-form"> {% include form-vertical.html %} </div>
        </div>
      </div>
    </div>
  </div>
</section>
