<li class="accessibility-title">
    <p class="no-margin">תפריט נגישות</p>
</li>
<li class="accessibility-item">
    <p class="no-margin">
        <span class="font-button font-default" data-target="default-font">א</span><span class="font-button font-small" data-target="small-font">א</span><span class="font-button font-middle" data-target="middle-font">א</span><span class="font-button font-big" data-target="big-font">א</span>
    </p>
    <i class="fa icon-fontsize accessibility-icon"></i>
</li>
<li class="accessibility-item contrast-text">
    <p class="no-margin">ניגודיות</p>
    <i class="fa icon-adjust accessibility-icon"></i>
</li>
<li class="accessibility-item underlined-links">
    <p class="no-margin">הדגשת קישורים</p>
    <i class="fa icon-underline accessibility-icon"></i>
</li>
<li class="accessibility-item reset-default">
    <p class="no-margin">איפוס הגדרות</p>
    <i class="fa icon-cw accessibility-icon"></i>
</li>