<ul class="footer-menu-links">
    <li><h4><a itemprop="url" href="/אודותינו"><span itemprop="name">אודותינו</span></a></h4></li>
    <li><h4><a itemprop="url" href="https://medicart.co.il"><span itemprop="name">פורטל מדיקארט</span></a></h4></li>
    <li><h4><a itemprop="url" href="https://hair.medicart.co.il"><span itemprop="name">פורטל שיער</span></a></h4></li>
    <li><h4><a itemprop="url" href="https://enaim.medicart.co.il">הסרת משקפיים</a></h4></li>
    <li><h4><a itemprop="url" href="https://proctolog.medicart.co.il"><span itemprop="name">טחורים ופיסורה</span></a></h4></li>
    <li><h4><a itemprop="url" href="https://fungus.medicart.co.il"><span itemprop="name">פטרת ציפורניים ובעיות עור</span></a></h4></li>
</ul>