<ul class="promoted-links">
	<li><a itemprop="relatedLink" href="/הרמת-סינוס">הרמת סינוס</a></li>
	<li><a itemprop="relatedLink" href="/טיפול-שורש">טיפול שורש</a></li>
	<li><a itemprop="relatedLink" href="/שיניים-תותבות">שיניים תותבות</a></li>
	<li><a itemprop="relatedLink" href="/דלקת-חניכיים">דלקת חניכיים</a></li>
	<li><a itemprop="relatedLink" href="/השתלת-עצם-בפה">השתלת עצם</a></li>
	<li><a itemprop="relatedLink" href="/גשר-בשיניים">גשר בשיניים</a></li>
	<li><a itemprop="relatedLink" href="/ציפויי-חרסינה">ציפויי חרסינה</a></li>
	<li><a itemprop="relatedLink" href="/הלבנת-שיניים-בלייזר">הלבנה בלייזר</a></li>
	<li><a itemprop="relatedLink" href="/כתרים-לשיניים">כתרים לשיניים</a></li>
	<li><a itemprop="relatedLink" href="/גשר-שקוף">גשר שקוף</a></li>
</ul>