<option value="">איזור מגורים</option>
<option value="מחוז הצפון">מחוז הצפון</option>
<option value="טבריה ומסביב">טבריה ומסביב</option>
<option value="עכו - נהריה">עכו - נהריה</option>
<option value="חיפה">חיפה</option>
<option value="הקריות">הקריות</option>
<option value="חדרה - קיסריה">חדרה - קיסריה</option>
<option value="">-----</option>
<option value="אזורים בשרון">אזורים בשרון</option>
<option value="נתניה והסביבה">נתניה והסביבה</option>
<option value="רעננה - כפר סבא">רעננה - כפר סבא</option>
<option value="רמת השרון - הרצליה">רמת השרון - הרצליה</option>
<option value="">-----</option>
<option value="גוש דן והמרכז">גוש דן והמרכז</option>
<option value="תל אביב יפו">תל אביב יפו</option>
<option value="רמת גן - גבעתיים">רמת גן - גבעתיים</option>
<option value="בקעת אונו">בקעת אונו</option>
<option value="פתח תקווה וסביבתה">פתח תקווה וסביבתה</option>
<option value="ראשון לציון">ראשון לציון</option>
<option value="חולון - בת ים">חולון - בת ים</option>
<option value="">-----</option>
<option value="אזור השפלה">אזור השפלה</option>
<option value="רמלה - לוד">רמלה - לוד</option>
<option value="נס ציונה - רחובות">נס ציונה - רחובות</option>
<option value="אשדוד - גדרה">אשדוד - גדרה</option>
<option value="מודיעין - מכבים - רעות">מודיעין - מכבים - רעות</option>
<option value="">-----</option>
<option value="סובב ירושלים">סובב ירושלים</option>
<option value="">-----</option>
<option value="דרום הארץ">דרום הארץ</option>
<option value="נפת אשקלון">נפת אשקלון</option>
<option value="באר שבע והסביבה">באר שבע והסביבה</option>