/****************** DEFAULT ***********************/
$header-background: #EAF0F2;
$text-main-color: #12475E;
$text-additional-color: #1999AA;
$text-simple-color: #4A4A4A;
$article-title-color: #1999AA;
$menu-text-color: #69BCC7;
$menu-text-hover-color: #69BCC7;
$menu-icons-color: #33AABA;
$footer-bar-background: #EAEFF2;
$page-title: #12475E;
$header-call-background: linear-gradient(to top,#18676e 20%,#69b0b2 100%);
$header-call-color: #D8FAFE;
$header-call-border: #758A87;


$nav-wrapper-background: #fff;
$nav-toggle-border: #fff;
$nav-toggle-background: #b11e2f;
$icon-bar-background: #fff;
$nav-toggle-menu-text: #fff;
$nav-block-border: #fff;
$nav-main-category-background: #01b9b9;
$nav-main-category-chosen-background: #008081;
$header-link-color: #fff;

$footer-background: #B7D0D4;
$footer-color: #fff;
$footer-link-color: #fff;

$h1-color: white;


/******************  FRONT PAGE ********************/
$here-for-you-background: #EAEFF2;
$promoted-links-background: #69BCC7;
$promoted-links-border: #326B77;
$promoted-links-background-hover: #326B77;
$promoted-links-color: white;
$promoted-links-color-hover: #5CCACE;
$articles-teaser-border: #1999AA;


/********************************** INFO **************************/
$prescription-background: #D8FAFE;
$prescription-border: #89CAD3;


/************************ PROS *********************************/
$table-wrapper-background: #fff;
$table-header-border: #d3d3d3;
$table-header-background: #f2f3e3;
$table-row-border: #a9a9a9;

$attention-color: #231111;
$attention-h4-color: #231111;

$col-last-vertical-form-wrapper-background: #1798ab;
$col-last-vertical-form-wrapper-plastic-surgery: #aa5098;
$col-last-vertical-form-wrapper-aesthetic-treatment: #ce598d;
$col-last-vertical-form-wrapper-body-toning: #7ec488;
$col-last-vertical-form-wrapper-dental-treatment: #4f76b1;
$col-last-vertical-form-wrapper-hair-treatment: #d9a339;
$col-last-vertical-form-wrapper-laser-treatment: #6ebfc0;

$modal-close-color: #fff;
$modal-close-background: #000;

$table-row-hover-media-background: linear-gradient(left,#bff3f9,#fff);
$col-first-media-background: #e5e6c6;


/*************************** BACK TO TOP ***************************/
$back-to-top-button-background: rgba(234,239,242,0.7);
$back-to-top-button-border: #C2CFD8;
$back-to-top-button-hover: rgba(234,239,242,1);
$back-to-top-i-color: #7EA3BB;


/***************************** FORM *********************************/
$form-background-base: rgba(181,240,248,0.56);
$form-background: rgba(145,219,228,0.648);
$form-border: #979797;
$floating-form-background: rgba(251,231,242,.9);
$floating-form-background-test: rgba(251,231,242,1);
$form-submit-background: linear-gradient(to bottom,#11D6F1,#022E37);
$form-submit-background-hover: linear-gradient(to bottom,#448B95,#074F5F);
$form-submit-color: #D7F0EE;
$form-submit-color-hover: #CAEFF3;
$form-submit-border: #50919A;
$form-submit-border-hover: #0E7180;
$form-input-border: #A2D2D9;
$form-input-background: rgba(255,255,255,0.75);
$validation-background: #000;
$validation-color: white;


/***************************** MAIN MENU *********************************/
$desktop-menu-color: #69BCC7;
$desktop-menu-background: rgba(15,114,128,.93);
$desktop-menu-background-hover: #085661;
$desktop-menu-title-color: #085661;
$desktop-menu-title-background: #33AABA;
$desktop-menu-title-border: rgba(15,114,128,.93);

$menu-mobile-background: #12475E;
$main-category-color: #8FB0C6;
$main-category-background: #7EA3BB;


/************************ RELATED CONTENT LINKS **************************/
$next-prev-background: #EAEFF2;
$next-prev-border: #C2CFD8;
$next-prev-color: #085661;
$next-prev-hover-color: #E5007D;

$next-prev-article-background: #bfe4e9;
$next-prev-article-border: #A2D2D9;



$next-prev-a-after-color: #b01e2f;

$summary-plastic-surgery: #aa5098;
$summary-aesthetic-treatment: #ce598d;
$summary-body-toning: #7ec488;
$summary-dental-treatment: #4f76b1;
$summary-hair-treatment: #d9a339;
$summary-laser-treatment: #6ebfc0;


/*************************** STOP BLOCK ***********************************/
$stop-block-background: rgba(181,240,248,.56);
$stop-block-color: #FEDCEE;

/*************************** CONTENT TABLES ***********************************/
$table-header: rgba(134,206,238,.49);
$table-body: rgba(207,234,251,.54);
$table-borders: rgba(51,169,186,.31);


/*************************** GALLERY MODAL ***********************************/
$gallery-background: #1999AA;
$gallery-color: #BFE5E1;