---
layout: compress
---

{% if page.main_title %}
    {% assign main_title = page.main_title %}
{% else %}
    {% assign main_title = site.data.home.main_title %}
{% endif %}

{% if page.meta_tags.keywords %}
    {% assign keywords = page.meta_tags.keywords %}
{% else %}
    {% assign keywords = site.data.home.meta_tags.keywords %}
{% endif %}

{% if page.meta_tags.description %}
    {% assign description = page.meta_tags.description %}
{% else %}
    {% assign description = site.data.home.meta_tags.description %}
{% endif %}

<!DOCTYPE html>
<html dir="rtl" lang="he">

{% include head.html %}

<body itemscope itemtype="http://schema.org/MedicalWebPage">

{% include gtmBody.js %}

<main>
    <div class="site-wrapper">
        <div class="content-wrapper">

            {% include nav.html %}

            {{ content }}

            {% if page.layout == 'info' %}
                {% assign footer-classes = 'info-footer' %}
            {% endif %}

            {% include footer.html %}

            {% if page.mobile.top_teaser == 'show' %}
                {% include form-top-xs.html %}
            {% elsif page.mobile.top_teaser != 'hide' and site.data.form.top_teaser == 'show' %}
                {% include form-top-xs.html %}
            {% endif %}

            {% if page.mobile.bottom_teaser == 'show' %}
                {% include form-xs.html %}
            {% elsif page.mobile.bottom_teaser != 'hide' and site.data.form.bottom_teaser == 'show' %}
                {% include form-xs.html %}
            {% endif %}

            {% if page.mobile.slide %}
                {% include form-slide-xs.html parent="slide" %}
            {% elsif page.mobile.slide == nil and site.data.form.slide %}
                {% include form-slide-xs.html parent="slide" %}
            {% endif %}

            {% if page.modal.time %}
                {% include form-slide-xs.html parent="modal" %}
            {% elsif site.data.form.time %}
                {% include form-slide-xs.html parent="modal" %}
            {% endif %}


            <!-- These divs allow to easily detect the current bootstrap display. -->
            <div class="device-xs visible-xs"></div>
            <div class="device-sm visible-sm"></div>
            <div class="device-md visible-md"></div>
            <div class="device-lg visible-lg"></div>
            {% include backToTop.html %}
        </div>
    </div>
</main>

<!-- Modals -->
{% if page.modal.time %}
    {% assign form_time = page.modal.time %}
{% elsif site.data.form.time %}
    {% assign form_time = site.data.form.time %}
{% endif %}

<div class="modal fade" id="thxModal" tabindex="-1" role="dialog"></div>
<div class="modal fade" id="formModal" data-time="{{ form_time }}">
    <div class="modal-form">
        {% include form.html parent="modal" %}
    </div>
</div>

<iframe name="form-response" src="" style="display: none;"></iframe>

{% include js-includes.html %}

</body>
</html>
